In [5]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [6]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.head()

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,44,42,46,42,48,42,44,46,42,44,...,21,18,22,19,18,19,21,22,21,28
1,111,119,119,116,120,122,119,121,119,124,...,121,124,119,119,118,118,119,118,118,120
2,95,93,93,95,91,94,98,90,94,93,...,107,10,17,17,40,125,128,128,127,126
3,148,149,148,148,149,148,147,149,148,147,...,52,49,48,36,49,50,50,50,39,24
4,115,118,117,120,118,115,117,120,114,116,...,79,83,78,80,82,81,79,82,82,69